@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --palette-background-strong: #111213ff;
  --palette-background-faded: #212224ff;
  --palette-text-primary: #ffffffff;
  --palette-text-secondary: #a1a1a1ff;
  --palette-accent-primary: #2f71e8ff;
  --palette-accent-secondary: #29b9f0ff;
  --gap-extra-small: 8px;
  --gap-small: 16px;
  --gap-medium: 32px;
  --gap-large: 64px;
  --rounded-edge: 10px;
}

/************************/
/* Globals **************/
/************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--palette-background-faded);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: var(--gap-large);
}

a {
  color: var(--palette-accent-secondary);
}

/************************/
/* Window ***************/
/************************/
.window {
  min-width: 550px;
  margin-top: var(--gap-large);
  background-color: var(--palette-background-strong);
  box-shadow: var(--palette-background-strong) 2px 5px 10px;
  border-radius: var(--rounded-edge);
}

/************************/
/* Window top ***********/
/************************/
.window-top {
  color: var(--palette-text-secondary);
  background-color: var(--palette-background-faded);
  border: 1px solid var(--palette-background-strong);
  border-radius: var(--rounded-edge) var(--rounded-edge) 0 0;
  padding-inline: var(--gap-medium);
  padding-block: var(--gap-small);
  display: flex;
  justify-content: space-between;
}

/************************/
/* Window body **********/
/************************/
.window-body {
  padding: var(--gap-medium);
}
.window-body h1 {
  color: var(--palette-text-primary);
}
.window-body h1 span {
  color: var(--palette-accent-primary);
}

/************************/
/* Settings **************/
/************************/
.settings {
  margin-top: var(--gap-medium);
  color: var(--palette-text-secondary);
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
}
.settings .setting {
  display: grid;
  grid-template-columns: 25% auto;
  grid-gap: var(--gap-extra-small);
}
.settings .setting p {
  margin-left: var(--gap-medium);
}
.settings .setting .toggle {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  grid-gap: var(--gap-extra-small);
}
.settings .setting .toggle .toggle-outer {
  width: 50px;
  height: 25px;
  background-color: var(--palette-background-faded);
  border-radius: 25px;
  display: flex;
  align-items: center;
}
.settings .setting .toggle .toggle-outer .toggle-inner {
  height: 18px;
  width: 18px;
  background-color: var(--palette-accent-secondary);
  border-radius: 18px;
  margin-inline: 3.5px;
}

/************************/
/* Footer ***************/
/************************/
.footer {
  margin-top: var(--gap-medium);
}
.footer p {
  color: var(--palette-text-secondary);
}
.footer p span {
  color: var(--palette-text-primary);
}

/************************/
/* classes come from js */
/************************/
.message {
  min-width: 550px;
  margin-block: var(--gap-medium);
  padding-inline: var(--gap-medium);
  padding-block: var(--gap-small);
  background-color: var(--palette-background-strong);
  box-shadow: var(--palette-background-strong) 2px 5px 10px;
  border-radius: var(--rounded-edge);
  color: var(--palette-text-secondary);
}

.flip-toggle {
  margin-left: auto !important;
}

.selected {
  color: var(--palette-text-primary);
}
