@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
	margin: 0;
	box-sizing: border-box;
}

:root {
	--palette-background-strong: #111213ff;
	--palette-background-faded: #212224ff;
	--palette-text-primary: #ffffffff;
	--palette-text-secondary: #a1a1a1ff;
	--palette-accent-primary: #2f71e8ff;
	--palette-accent-secondary: #29b9f0ff;
	--gap-extra-small: 8px;
	--gap-small: 16px;
	--gap-medium: 32px;
	--gap-large: 64px;
}

::selection {
	color: var(--palette-background-strong);
	background: #ffdb58;
}

html {
	color: var(--palette-text-primary);
}

body {
	font-family: 'Inter', sans-serif;
	background-color: var(--palette-background-faded);
	display: flex;
	justify-content: center;
	padding-inline: var(--gap-large);
}

a {
	color: var(--palette-accent-secondary);
}

li {
	margin-bottom: var(--gap-extra-small);
}

/* bold */
.--b {
	font-weight: 700;
}

/* primary blue */
.--pb {
	color: var(--palette-accent-primary);
}

/* primary text */
.--pt {
	color: var(--palette-text-primary);
}

.icon {
	max-width: 80px;
}

p {
	margin-bottom: var(--gap-small);
}

.app {
	margin-block: var(--gap-large);
	max-width: 800px;
	min-width: 465px;
	background-color: var(--palette-background-strong);
	box-shadow: var(--palette-background-strong) 2px 5px 10px;
	border-radius: 10px;
}

.title-bar {
	background-color: var(--palette-background-faded);
	border: 1px solid var(--palette-background-strong);
	border-radius: 10px 10px 0 0;
	padding-inline: var(--gap-large);
	padding-block: var(--gap-small);
	display: flex;
	justify-content: space-between;
	color: var(--palette-text-secondary)
}

.main-window {
	padding: var(--gap-medium);
}

/************************/
/* Hero section *********/
/************************/
.hero {
	display: flex;
	align-items: center;
	padding-inline: var(--gap-medium);
}

.hero h1 {
	font-weight: 400;
	text-align: center;
	padding-inline: var(--gap-small);
}

/************************/
/* Settings *************/
/************************/
.settings {
	padding-inline: var(--gap-medium);
	margin-top: var(--gap-medium);
}

.settings h2 {
	margin-bottom: var(--gap-small);
}

.settings h3 {
	font-weight: 400;
}

/************************/
/* Accordion ************/
/************************/
.accordion {
	color: var(--palette-text-secondary);
	padding-inline: var(--gap-medium);
	margin-top: var(--gap-medium);
}

.accordion__content-box {
	margin-top: var(--gap-small);
	position: relative;
}

.accordion__label {
	color: var(--palette-text-primary);
	padding-block: var(--gap-extra-small);
	padding-inline: var(--gap-small);
	position: relative;
	cursor: pointer;
	background-color: var(--palette-background-faded);
	border-radius: 10px;
	display: flex;
	align-items: center;
}

.accordion__label h3 {
	position: relative;
	font-weight: 700;
	user-select: none;
}

.accordion__label::before {
	content: attr('data-before');
	position: absolute;
	top: 50%;
	transform: translateY(-55%);
	right: var(--gap-medium);
	font-size: 1.5rem;
}

.accordion__content {
	position: relative;
	padding-inline: var(--gap-small);
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	transition: all .3s ease-out;
}

.accordion__content-box.active .accordion__content {
	padding-top: var(--gap-small);
	/* set max-height as low as possible for best animation */
	max-height: 390px;
	opacity: 1;
}

/************************/
/* classes come from js */
/************************/
.copied {
	color: var(--palette-text-secondary);
	padding-inline: var(--gap-large);
	padding-bottom: var(--gap-large);
}
